@import '../../../sass/forms';

.img-preview {
  padding: 1px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 1px solid $border-color;
}

.highlight{
  background: #f2f2f2;
}
